/*body { font-family: Arial; font-size: 10pt; height: auto}
p.attn { text-align: center; }
!*h1 { color: #E2007A; font-size: 1.15em; }*!
table { border-spacing: 0; }
.table_1st_column { width: 220px; }
td { padding:0; }
ul { list-style-type: square; margin-top: 0px; }
.bleu { color: #008dcf; font-weight: bold; }
.red { color: #c00000; font-weight: bold; }
.underline { text-decoration: underline; }*/

@font-face {
    font-family: 'raleway_bold';
    url('Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway_medium_italic';
    url('Raleway-MediumItalic.ttf') format('truetype');
}

.spacer{
    margin-top: 40px;
}

.skillsmates-page-wrapper {
    width: 800px;
    min-width: 600px;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 20px;
}
#registration-page{
    background-color: #16152D;
    margin-right: -20px;
    margin-left: -20px;
}
#registration-page-2{
    background-color: #E7E7EA;
    margin-right: -20px;
    margin-left: -20px;
}
.skillsmates-title{
    color: whitesmoke;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 5px;
    display:block;
    font-family: "raleway_bold";
}

.skillsmates-title-2{
    color: whitesmoke;
    font-size: large;
    padding-left: 5px;
    font-family: "raleway_medium_italic";
}

.skillsmates-title-white{
    color: #16152D;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 5px;
    display:block;
    font-family: "raleway_bold";
}

.skillsmates-title-white-2{
    color: #16152D;
    font-size: large;
    padding-left: 5px;
    font-family: "raleway_medium_italic";
}

#trait_dessus
{
    border-bottom: 3px solid #F2B605;
    width: 200px;
}

.text
{
    font-size: 20px;
}
.bold
{
    font-weight: bold;
}

#background {
    background: linear-gradient(0deg, #16152D 50%, white 50%);
}

#background-2 {
    background: linear-gradient(0deg, #E7E7EA 50%, white 50%);
}
.skillsmates-page-footer{
    height: 100px;
    background-color: #16152D;
}
.skillsmates-page-footer-2{
    height: 100px;
    background-color: #E7E7EA;
}
