<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf Fragments: Profile</title>
</head>
<body>
<div th:fragment="profile">
            <!--class="skillsmates-box-shadow"-->
    <div style ="margin-top:10px; min-width:240px; border-radius: 10px;border: 2px solid #edeced;margin-bottom: 10px;">

        <div  style="-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%; /*class = col-12*/
                     background-color:#fff; margin: 0;">

            <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/">
                <div style="cursor: pointer;height: 100px; margin: 0 auto; position: relative; width: 100px;margin: auto; padding-bottom: 0">
                    <!--/*@thymesVar id="VIEW_PROFILE_OFFLINE" type=""*/-->
                    <a th:href="@{${VIEW_PROFILE_OFFLINE}}">
                        <!--/*@thymesVar id="URL_PROFILE_IMAGE" type=""*/-->
                        <img style="background-color: #aaa;border-radius: 50%;color: #fff;display: inline-block;height: 100px;line-height: 100px;
                                margin: 0 10px 0 0;overflow: hidden;vertical-align: middle;width: 100px;position: relative;white-space: nowrap;
                                border: white solid 2px;margin-top: 10px" th:src="@{${URL_PROFILE_IMAGE}}"  />
                    </a>
                </div>
            </div>

            <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
                           text-align:center; color: #16152d; font-size: large; margin: 0 auto; width: max-content" >
                <!--/*@thymesVar id="FIRST_LAST_NAME" type=""*/-->
                <strong th:text="${FIRST_LAST_NAME}" style="margin-top: 15px"></strong>
            </div>
            <!--/*@thymesVar id="ICON_STUDENT_PROF_TEACHER" type=""*/-->
            <!--/*@thymesVar id="ACCOUNT_STATUT" type=""*/-->
            <!--/*@thymesVar id="ICON_CLASS_JOB" type=""*/-->
            <!--/*@thymesVar id="CURRENT_ESTABLISHMENT_NAME" type=""*/-->
            <!--/*@thymesVar id="CURRENT_JOB_TITLE" type=""*/-->
            <!--/*@thymesVar id="BASE_URL" type=""*/-->
            <!--/*@thymesVar id="LOCATION" type=""*/-->
            <!--/*@thymesVar id="ICON_ESTABLISHMENT_ENTERPRISE" type=""*/-->

                <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;">
                    <ul style="list-style: none;">
                        <li th:if="${ACCOUNT_STATUT}">
                            <img width="18" height="18" th:src="@{${BASE_URL + '/images/student.png'}}" th:alt="student-prof-teacher">
                            <span style="color: #16152d;" th:text="${ACCOUNT_STATUT}"></span>
                        </li>
                        <li th:if="${CURRENT_JOB_TITLE}">
                            <img width="18" height="18" th:src="@{${ICON_STUDENT_PROF_TEACHER}}" th:alt="class-job">
                            <span style="color: #16152d;" th:text="${CURRENT_JOB_TITLE}"></span>
                        </li>
                        <li th:if="${CURRENT_ESTABLISHMENT_NAME}">
                            <img width="18" height="18" th:src="@{${ICON_ESTABLISHMENT_ENTERPRISE}}" th:alt="establishment-enterprise">
                            <span style="color: #16152d;" th:text="${CURRENT_ESTABLISHMENT_NAME}"></span>
                        </li>
                        <li th:if="${LOCATION}">
                            <img width="18" height="18" th:src="@{${BASE_URL + '/images/location.png'}}" th:alt="location">
                            <span style="color: #16152d;" th:text="${LOCATION}"></span>
                        </li>
                    </ul>
                </div>
                <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;">
                    <div style="width: 100%;text-align: center; border-bottom: solid 1px #DADADA; margin: 0 15px"></div>
                </div>

                <!--/*@thymesVar id="NBR_POST" type=""*/-->
                <!--/*@thymesVar id="NBR_FOLLOWER" type=""*/-->
                <!--/*@thymesVar id="NBR_FOLLOWEE" type=""*/-->
                <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;">
                    <ul style="list-style: none;">
                        <li>
                            <img width="18" height="18" th:src="@{${BASE_URL + '/images/publications.png'}}" th:alt="publication">
                            <span style="color: #16152d;font-weight: bold" th:text="${NBR_POST}"></span>
                            <span style="color: #16152d;">Publications</span>
                        </li>
                        <li>
                            <img width="18" height="18" th:src="@{${BASE_URL + '/images/followers-black.png'}}"  th:alt="follower">
                            <span style="color: #16152d;font-weight: bold" th:text="${NBR_FOLLOWER}"></span>
                            <span style="color: #16152d;">Abonnés</span>
                        </li>
                        <li>
                            <img width="18" height="18" th:src="@{${BASE_URL + '/images/following-black.png'}}"  th:alt="followee">
                            <span style="color: #16152d;font-weight: bold" th:text="${NBR_FOLLOWEE}"></span>
                            <span style="color: #16152d;">Abonnements</span>
                        </li>
                    </ul>
                </div>

        </div>
    </div>



</div>
</body>
</html>
