<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf Fragments: Contact</title>
</head>
<body>
<div th:fragment="contacts">
    <div style="text-align: center; margin-top: 50px; font-size: small; background-color: #FFFFFA;">
        <div>
            <span>&copy;2021. Tous droits reservés</span>
        </div>
        <div>
            <span th:text="${ADDRESS_SKILLSMATES}">SkillsMates - 86 Boulevard Jean Jaures 92110 Clichy France</span>
        </div>
        <div>
            <span>Contactez-nous en cas de besoin à l'adresse </span><span th:text="${EMAIL_SKILLSMATES}">contact@skillsmates.com</span>
        </div>
    </div>
</div>
</body>
</html>
