<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf Fragments: Header black</title>
</head>
<body>
<div th:fragment="header">
    <div style="background-color: #FFFFFA; margin: auto; ">
        <div style="height: 30%; width: 30%; max-width:75%; margin-left:15%;">
            <div>
<!--                <img src="logo-skillsmates.svg" alt="logo skillsmates" />-->
                <img th:src="@{${BASE_URL + '/images/logo-skillsmates.svg'}}" alt="logo skillsmates" style="max-width: 100%; max-height: 100%; margin-bottom: 0px" />
            </div>
        </div>

        <div>
            <div style="font-weight: bold; color: #15162D; margin: auto; font-size: x-large; text-align: center; padding: 20px;">
                AMELIORE ET PARTAGE <br/> TES CONNAISSANCES AVEC <br/> LA COMMUNAUTE
            </div>
        </div>
    </div>
</div>
<!--<div th:fragment="footer">-->
<!--        <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/-->
<!--              margin-top: 10px;">-->
<!--            <p style="font-size: 20px; margin: auto; color: #16152D">Suivez-nous</p>-->
<!--        </div>-->
<!--        <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/-->
<!--              background: linear-gradient(0deg, #16152D 50%, white 50%);">-->
<!--            <div style="margin: auto;">-->
<!--                <a th:href="@{${FACEBOOK_LINK}}"><img th:src="@{${BASE_URL + '/images/facebook-blanc.png'}}" alt="facebook" style="height: 60px;"/></a>-->
<!--                <a th:href="@{${INSTAGRAM_LINK}}"><img th:src="@{${BASE_URL + '/images/instagram-blanc.png'}}" alt="instangram" style="height: 60px;"/></a>-->
<!--                <a th:href="@{${TWITTER_LINK}}"><img th:src="@{${BASE_URL + '/images/twitter-blanc.png'}}" alt="twitter" style="height: 60px;"/></a>-->
<!--                <a th:href="@{${SNAPCHAT_LINK}}"><img th:src="@{${BASE_URL + '/images/snapchat-blanc.png'}}" alt="snapchat" style="height: 60px;"/></a>-->
<!--                <a th:href="@{${TIKTOK_LINK}}"><img th:src="@{${BASE_URL + '/images/tiktok-blanc.png'}}" alt="tiktok" style="height: 60px;"/></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/-->
<!--            height: 100px; background-color: #16152D;">-->
<!--            <div style="margin: auto">-->
<!--                <div>-->
<!--                    <img th:src="@{${BASE_URL + '/images/symbole-skills-mates.png'}}" alt="logo skillsmates" style="height: 50px; vertical-align: middle"/>-->
<!--                    <span style="font-size: 15px; color: white; ">&copy; Skills Mates 2020. Tous droits réservés.</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->
</body>
</html>
