<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Réinitialisation du mot de passe</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/resetpassword.css" th:href="@{${BASE_URL + '/css/resetpassword.css'}}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{${BASE_URL + '/css/bootstrap.min.css'}}" />
</head>
<body style="background-color: #E7E7EA">
    <div class="skillsmates-page">
        <div class="row skillsmates-page-wrapper" >
            <div class="col-8">
                <div>
                    <img style="max-width: 100%; max-height: 100%; margin-bottom: 0px" th:src="@{${BASE_URL + '/images/header_white.png'}}" alt="logo skillsmates">
                </div>
            </div>
            <div class="col-4">
                <section id="tabs">
                    <div>
                        <div class="row sm-border-radius" style="background: white;">
                            <div class="col-12">
                                <div style="width: 100%; margin-bottom: 150px; margin-top: 10px; padding-right: 10px; padding-left: 10px">
                                    <div class="topnav">
                                        <h5>Réinitialisation du mot de passe</h5>
                                    </div>

                                    <div class="tab-content" id="nav-tabContent">
                                        <!--/*@thymesVar id="accountDto" type=""*/-->
                                        <!--/*@thymesVar id="BASE_URL_NEW_PASSWORD" type=""*/-->
                                        <form th:action="@{${BASE_URL_NEW_PASSWORD}}" th:object="${accountDto}"
                                              method="post" autocomplete="off" class="form-signin">
                                            <div class="form-group">
                                                <div style="font-size: 12px; color: #16152D; text-align: left; margin-top: 20px" >Vous pouvez maintenant choisir un nouveau mot de passe.</div>

                                                <input style="margin-top: 15px"  type="password" class="form-control" autocomplete="off"  autofocus=""  name="newPassword" id="newPassword" maxlength="50"
                                                       placeholder="Nouveau mot de passe" required="required" th:field="*{password}">
                                                <input style="margin-top: 15px"  type="password" class="form-control" autocomplete="off"  autofocus=""  name="confirmPassword" id="confirmPassword" maxlength="50"
                                                       placeholder="Confirmation du mot de passe" required="required" th:field="*{confirmPassword}">
                                                <!--/*@thymesVar id="id" type=""*/-->
                                                <input type="hidden" th:value="${id}" name="idServer" >
                                                <!--/*@thymesVar id="token" type=""*/-->
                                                <input type="hidden" th:value="${token}" name="token">
                                            </div>
                                            <!--/*@thymesVar id="loading" type=""*/-->
                                            <div class="form-group text-center">
                                                <button  onclick="displayLoader()"  type="submit" class="btn btn-primary sm-border-radius-btn" style="color: #16152D; background-color: #dadada; width: 100%;" >Envoyer</button>
                                                <div id="loader" class="row" style="visibility: hidden;">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <img th:src="@{${BASE_URL + '/images/symbole-skills-mates.png'}}" alt="loader" class="rotate" width="100" height="100" />
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                            </div>
                                            <!--/*@thymesVar id="exception" type=""*/-->
                                            <small id="exception" class="text-danger" th:if="${exception}" th:text="${exception.message}"></small>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-7" >
                    <span><a href="#" style="color: #16152D; font-size: 13px;">A PROPOS</a></span> -
                    <span><a href="#" style="color: #16152D; font-size: 13px;">AIDE</a></span> -
                    <span><a href="#" style="color: #16152D; font-size: 13px;">POLITIQUE DE CONFIDENTIALITE</a><br></span>
                    <span><a href="#" style="color: #16152D; font-size: 13px;text-align: left">CONDITIONS D'UTILISATION</a></span>
                </div>
                <div class="col-5">
                    <div style="margin: auto;">
                        <div>
                            <a style="font-size: 15px; color: #16152D; text-decoration: none;" th:href="@{${HOSTNAME}}"><img th:src="@{${BASE_URL + '/images/symbole-skills-mates.png'}}" alt="logo skillsmates" style="height: 35px; vertical-align: middle"/>&copy; Skills Mates 2020</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        var m = [[${loading}]];

            function displayLoader() {
                var password = document.getElementById("newPassword").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
                if(password && confirmPassword){
                    document.getElementById("loader").style.visibility = "visible";
                    document.getElementById("exception").innerText= "";
                }

            }
                if(!m){
                    document.getElementById("loader").style.visibility = "hidden";
                    document.getElementById("loader").style.display = "none";
                }

    </script>
</body>
</html>
