<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Réinitialisation du mot de passe</title>
    <!--<link rel="stylesheet" type="text/css" media="all" href="../static/css/resetpassword.css" th:href="@{${BASE_URL + '/css/resetpassword.css'}}" />-->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{${BASE_URL + '/css/bootstrap.min.css'}}" />
</head>
<body>
<header th:insert="templates/fragments/templateWhite.html :: header"> </header>
<section>
    <!--/*@thymesVar id="APPLICATION_LINK" type=""*/-->
    <div style="-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%"> <!--class = col-lg-12-->
        <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
	               background-color: #F73131; height: 50px;">
            <p style="text-transform: uppercase; font-size: 25px; margin: auto; color: white">
                erreur</p>
        </div>

        <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
	               background-color: white; height: 100px">

            <div style="-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%; margin-left:15%;  /*class = col-sm-9 offset-sm-3*/
		       font-size: 20px; margin-top: auto; margin-bottom: auto; color: #16152D"
                    class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
        </div>

        <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
	            height: auto; margin-top: 10px">
            <div style=" -ms-flex:0 0 75%;flex:0 0 75%;max-width:75%; margin-left:15%;  /*class = col-sm-9 offset-sm-3*/
		         color: #16152D">
                <div th:insert="templates/fragments/templateContact.html :: contacts"> </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="templates/fragments/templateWhite.html :: footer"> </footer>
</body>
</html>
