<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Nouveau commentaire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{${BASE_URL + '/css/bootstrap.min.css'}}" />
</head>
<body>

<div class="row">
	<div class="col-12 col-lg-4"></div>
	<div class="col-12 col-lg-4">
		<!--		<div style="background-color: whitesmoke; margin: auto; ">-->
		<!--			<div>-->
		<!--				<div style="height: 30%; width: 30%; max-width:100%; margin-left:15%;">-->
		<!--					<img src="logo-skillsmates.svg" alt="logo skillsmates" />-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<header th:insert="templates/fragments/templateNotifications.html :: header"> </header>
		<div style="max-width:100%">
			<div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap; background-color: whitesmoke; height: 50px;">
				<p style="font-size: x-large; margin: auto; color: #16152D; font-weight: bold;">
					<img th:src="@{${BASE_URL + '/images/comment.png'}}" alt="new favorite" style="height: 30px;vertical-align: middle; margin-bottom: 0px"/>
					Nouveau commentaire
				</p>
			</div>

			<div style="background-color: white; margin: 20px;">
				<p style="margin-top: auto; margin-bottom: auto; color: #16152D">
					Bonjour <span th:text="${ACCOUNT_FIRST_NAME}"></span> <span th:text="${ACCOUNT_LAST_NAME}"></span> <br>
					Votre publication <span th:text="${POST_TITLE}" style="color:blue; text-decoration:underline"></span> a réçu un nouveau commentaire de <span th:text="${FOLLOWER_USERNAME}" style="font-weight: bold"></span>. <br>
				</p>
			</div>

			<div class="row" style="margin-top: margin: 20px;">
				<div class="col-12 text-center">
					<div style="" th:insert="templates/fragments/templateProfile.html :: profile"></div>
				</div>
			</div>

			<div style="margin: 20px;">
				<p style="margin-top: auto; margin-bottom: auto; color: #16152D">
					<button type="button" style="display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5; margin: auto; background-color: green; border-radius: 5px; cursor: pointer;" >
						<a th:href="@{${COMMENT_LINK}}" style="text-decoration: none; color: white;">Cliquez ici</a>
					</button> pour afficher le message
				</p>
			</div>

			<div style="height: auto;">
				<div style="color: #16152D">
					<span style="margin: 20px">Si le bouton ci-dessus ne fonctionne pas, cliquez directement sur ce lien <br>
						<span th:text="${COMMENT_LINK}"></span><br>
						<span style="margin: 20px">Cordialement.</span>
					</span>
					<div th:insert="templates/fragments/templateContact.html :: contacts"> </div>

					<!--					<div style="text-align: center; margin-top: 50px; font-size: small; background-color: whitesmoke;">-->
					<!--						<div>-->
					<!--							<span>2021. Tous droits reservés</span>-->
					<!--						</div>-->
					<!--						<div>-->
					<!--							<span th:text="${ADDRESS_SKILLSMATES}">SkillsMates - 86 Boulevard Jean Jaurés 92110 Clichy France</span>-->
					<!--						</div>-->
					<!--						<div>-->
					<!--							<span>Contactez-nous en cas de besoin à l'adresse </span><span th:text="${EMAIL_SKILLSMATES}">contact@skillsmates.com</span>-->
					<!--						</div>-->
					<!--					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4"></div>
</div>

</body>
</html>
