<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>New like</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{${BASE_URL + '/css/bootstrap.min.css'}}" />
</head>
<body>
<header th:insert="templates/fragments/templateWhite.html :: header"> </header>
<section>
	<!--/*@thymesVar id="POST_TITLE" type=""*/-->
	<!--/*@thymesVar id="FOLLOWER_USERNAME" type=""*/-->
	<!--/*@thymesVar id="LIKE_LINK" type=""*/-->
   <div style="-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%"> <!--class = col-lg-12-->
	   <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
	               background-color: #16152D; height: 50px;">
		   <div style="margin: auto">
			   <div>
				   <img th:src="@{${BASE_URL + '/images/like.png'}}" alt="like" style="height: 30px; vertical-align: middle; margin-bottom: 6px"/>
				   <span style="text-transform: uppercase; font-size: 25px; color: white; margin-left: 20px;">nouvelle publication</span>
			   </div>
		   </div>
	   </div>

	   <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
	               background-color: white; height: 120px">
		   <p style="-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%; margin-left:15%;  /*class = col-sm-9 offset-sm-3*/
		       font-size: 20px; margin-top: auto; margin-bottom: auto; color: #16152D">
			   <span th:text="${FOLLOWER_USERNAME}"></span> a publié un nouvel article.<br>
			   Voici le titre de la publication <span th:text="${POST_TITLE}"></span><br>
			   <a th:href="@{${LIKE_LINK}}">Cliquez sur ce lien</a> pour accéder à la publication.
		   </p>
	   </div>

	   <div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; /*class = row*/
	            height: auto; margin-top: 10px">
		   <div style=" -ms-flex:0 0 75%;flex:0 0 75%;max-width:75%; margin-left:15%;  /*class = col-sm-9 offset-sm-3*/
		         color: #16152D">
			   <div th:insert="templates/fragments/templateContact.html :: contacts"> </div>
		   </div>
	   </div>
   </div>
</section>
<footer th:insert="templates/fragments/templateWhite.html :: footer"> </footer>
</body>
</html>
