<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:remove="all">Validation email</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		body { font-family: Arial; font-size: 10pt;}
		p.attn { text-align: center; }
		h1 { color: #E2007A; font-size: 1.15em; }
		table { border-spacing: 0; }
		.table_1st_column { width: 220px; }
		td { padding:0; }
		ul { list-style-type: square; margin-top: 0px; }
		.bleu { color: #008dcf; font-weight: bold; }
		.red { color: #c00000; font-weight: bold; }
		.underline { text-decoration: underline; }
	</style>
</head>
<body>
<table align="center" width="800"><tr><td>
	<p class="attn">
		Ce message est envoyé par SKILLSMATES à l’attention de
		<span th:text="${ACCOUNT_NAME}"></span>
	</p>

	<header>
		<img th:src="'cid:' + ${ENTETE}" />
	</header>

	<div>
		<h1>■&nbsp;&nbsp;&nbsp;NOTIFICATION</h1>
		<p>
			Vous avez creer un compte sur skillsmates, <br>
			<span th:text="${MESSAGE}"></span>
		</p>
	</div>

	<p>Bien cordialement,</p>

	<p>
		<i>
			<b>Le support utilisateurs</b> <span class="bleu">Skillsmates</span><br/>
			44 Rue de la republique - 75008 PARIS<br/>
			Tél. : <span class="bleu">01 01 01 01 01</span><br/>
			Email : <a class="bleu" href="mailto:contact@skillsmates.com">contact@skillsmates.com</a><br/>
		</i>
	</p>

	<footer>
		<table style="text-align: center">
			<tr>
				<td>
					<b><span class="bleu">Skillsmates</span>: Get higher together.</b>
				</td>
			</tr>
			<tr>
				<td><img th:src="'cid:' + ${SIGNATURE}" /></td>
			</tr>
		</table>
	</footer>
</td></tr></table>
</body>
</html>
