<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Validation email</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="templates/fragments/templateBlack.html :: header"> </header>

<section>
	<div style="-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%">
		<div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;
	               background-color: whitesmoke; height: 50px;">
			<p style="font-size: x-large; margin: auto; color: #16152D; font-weight: bold;">
				Compte créé</p>
		</div>

		<div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px; background-color: white; height: 100px">
			<p style="max-width:75%; margin-left:15%; margin-top: auto; margin-bottom: auto; color: #16152D">
				Bonjour <span th:text="${ACCOUNT_FIRST_NAME}"></span>  <span th:text="${ACCOUNT_LAST_NAME}"></span> <br>
				Votre compte sur Skills Mates a été enregistré avec succés <br>
			</p>
		</div>
		<div style="">
			<p style="max-width:75%; margin-left:15%; margin-top: auto; margin-bottom: auto; color: #16152D">
				<button type="button"
						style="display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5; margin: auto; background-color: green; border-radius: 5px; cursor: pointer;" >
					<a th:href="@{${ACTIVATE_LINK}}" style="text-decoration: none; color: white;">Cliquez ici</a>
				</button> pour acceder à la plateforme
			</p>
		</div>

		<div style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;
	            height: auto; margin-top: 10px">
			<div style=" -ms-flex:0 0 75%;flex:0 0 75%;max-width:75%; margin-left:15%; color: #16152D">
			   <span style="">Si le bouton ci-dessus ne fonctionne pas, cliquez directement sur ce lien <br>
			<span th:text="${ACTIVATE_LINK}"><br></span><br> Cordialement.

		</span>
				<div th:insert="templates/fragments/templateContact.html :: contacts"> </div>

			</div>
		</div>
	</div>
</section>


<!--<footer th:insert="templates/fragments/templateBlack.html :: footer"> </footer>-->
</body>
</html>
